    <h1><%= @user.username%></h1>

 
<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%= @accepted_followers.length %>

    </div>

      <h4>Pending follow requests</h4>

      <ul>

      <% @pending_followers.each do |a_pending| %>
          <li>
            <%= a_pending.sender.username %>

            <form action="/modify_follow_request/<%= a_pending.id %>" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>

            <form action="/modify_follow_request/<%= a_pending.id %>" method="post">
              <input name="query_status" value="rejected" type="hidden">

              <button>
                Reject
              </button>
            </form>

          </li>
          <% end %>
        </ul>

        <dt>Following</dt>
  <dd>13</dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/117" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="anisa">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private"  checked>

      <button>Update user</button>
    </form>
  </dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/anisa">Profile</a>
    </li>
    <li>
      <a href="/users/anisa/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/anisa/feed">Feed</a>
    </li>
    <li>
      <a href="/users/anisa/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (1)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <tr>
    <td>
      <img src="http://res-4.cloudinary.com/dt1gn6erd/image/upload/v1614812838/lxhkok8io8ouunptecdo.png">
    </td>

    <td>
      anisa
    </td>

    <td>
      hola
    </td>

    <td>
      4 minutes ago
    </td>

    <td>
      0
    </td>

    <td>
      <a href="/photos/951">
        Show details
      </a>
    </td>
  </tr>
</table>